<form class="group" [formGroup]="form" (ngSubmit)="onSubmit()">

  <div class="group" formGroupName="userData">
    <label>
      name*:
      <input type="text" formControlName="name" />

      <span
        *ngIf="shouldShowError('userData.name', 'required')"
        class="error-message error-extra-gap">
            This field is required
          </span>
    </label>

    <label>
      e-mail*:
      <input
        type="email"
        formControlName="email"
        [class.dashed-border]="form.get('userData.email')?.invalid && form.get('userData.email')?.touched"
      />

      <span
        *ngIf="shouldShowError('userData.email', 'required')"
        class="error-message error-extra-gap">
            This field is required
          </span>

      <span
        *ngIf="shouldShowError('userData.email', 'email')"
        class="error-message error-extra-gap">
            This should be correct email address
          </span>
    </label>
  </div>

  <label>
    phone:
    <input type="text" formControlName="phone" />

    <span
      *ngIf="shouldShowError('phone', 'pattern')"
      class="error-message error-extra-gap">
      You must follow 000-000-000 pattern
    </span>
  </label>

  <label>
    country:
    <select formControlName="country">
      <option value="pol" selected>Poland</option>
      <option value="non-pol">Not poland</option>
    </select>
  </label>

  <label>
    newsletter:

    <input type="checkbox" formControlName="newsletter" />
  </label>

  <div class="label">
    sex:

    <div>
      <label>
        <input type="radio" formControlName="sex" value="male" />
        male
      </label>

      <label>
        <input type="radio" formControlName="sex" value="female" />
        female
      </label>
    </div>
  </div>

  <label>
    details:

    <textarea formControlName="description"></textarea>
  </label>

  <p>{{ form.get('description')?.value }}</p>

  <input type="submit" value="Submit" [disabled]="form.invalid" />
  <input type="button" value="Clear" (click)="clearForm()" />
</form>

