.group {
  border: 1px black solid;
  padding: 1rem;
  display: grid;
  grid-gap: 1rem;
}

form {
  width: 350px;

  label, .label {
    display: grid;
    grid-template-columns: 100px auto;
    position: relative;
  }

  .ng-invalid.ng-touched {
    border-color: red;
  }

  .dashed-border {
    border-style: dashed;
  }

  .error-message {
    position: absolute;
    left: calc(100% + 2rem);
    display: block;
    width: 100%;
    color: red;

    &.error-extra-gap {
      left: calc(100% + 3rem);
    }
  }
}
