<form class="group" [formGroup]="form" (ngSubmit)="onSubmit()">

  <div class="group" formGroupName="userData">
    <label>
      name*:
      <input type="text" formControlName="name"/>

      <!--      <span-->
      <!--        *ngIf="nameRef.touched && nameRef.errors?.required"-->
      <!--        class="error-message error-extra-gap">-->
      <!--      This field is required-->
      <!--    </span>-->
    </label>

    <label>
      e-mail*:
      <!-- [class.dashed-border]="emailRef.invalid && emailRef.touched" -->
      <input type="email" formControlName="email" />

      <!--      <span-->
      <!--        *ngIf="emailRef.touched && emailRef.errors?.required"-->
      <!--        class="error-message error-extra-gap">-->
      <!--      This field is required-->
      <!--    </span>-->

      <!--      <span-->
      <!--        *ngIf="emailRef.touched && emailRef.errors?.email"-->
      <!--        class="error-message error-extra-gap">-->
      <!--      This should be correct email address-->
      <!--    </span>-->
    </label>
  </div>

  <label>
    phone:
    <!-- pattern="\d{3}-\d{3}-\d{3}$" -->
    <input type="text" formControlName="phone" />

    <!--<span
      *ngIf="phoneRef.errors?.pattern"
      class="error-message error-extra-gap">
      You must follow 000-000-000 pattern
    </span>-->
  </label>

  <label>
    country:
    <select formControlName="country">
      <option value="pol" selected>Poland</option>
      <option value="non-pol">Not poland</option>
    </select>
  </label>

  <label>
    newsletter:

    <input type="checkbox" formControlName="newsletter" />
  </label>

  <div class="label">
    sex:

    <div>
      <label>
        <input type="radio" formControlName="sex" value="male" />
        male
      </label>

      <label>
        <input type="radio" formControlName="sex" value="female" />
        female
      </label>
    </div>
  </div>

  <label>
    details:

    <!-- [(ngModel)]="details" -->
    <textarea formControlName="description"></textarea>
  </label>

  <p>{{ details }}</p>

  <!--  [disabled]="formRef.invalid" -->
  <input type="submit" value="Submit" [disabled]="form.invalid" />
  <input type="button" value="Clear" (click)="clearForm()" />
</form>

